@font-face {
    font-family: "Work Sans";
    src: url("./assets/fonts/static/WorkSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Work Sans";
    src: url("./assets/fonts/static/WorkSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Work Sans";
    src: url("./assets/fonts/static/WorkSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Work Sans";
    src: url("./assets/fonts/WorkSans-Italic-VariableFont_wght.ttf") format("truetype");
    font-style: italic;
    font-weight: 100 900;
    /* If it's variable font */
}

@font-face {
    font-family: "Work Sans";
    src: url("./assets/fonts/WorkSans-VariableFont_wght.ttf") format("truetype");
    font-style: normal;
    font-weight: 100 900;
    /* If it's variable font */
}

:root {
    --main-bg: hsl(292, 42%, 14%);
    --text-color: hsl(292, 16%, 49%);
    --accent-color: hsl(14, 88%, 65%);
    --sub-bg: hsl(275, 100%, 97%);
    --container-bg: hsl(0, 100%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./assets/images/background-pattern-mobile.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--sub-bg);
    padding: 1em;
    font-family: "Work Sans", sans-serif;
    width: 100%;
}

.container {
    position: relative;
    background-color: var(--container-bg);
    padding: 20px;
    border-radius: 1em;
    margin: auto;
    max-width: 375px;
    /* min-height: 100vh; */
}

header {
    gap: 2em;
    align-items: center;
    display: flex;
    margin-bottom: 1em;
}

header h1 {
    order: 2;
    color: var(--main-bg);
    font-weight: 700;
    font-style: normal;
    font-size: 2em;
}

header img {
    width: 2em;
    height: 2em;
    order: 1;
}

main {
    padding-top: 1em;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.accordion-item {
    border-bottom: 1px solid var(--text-color);
    padding: 1em 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.accordion-item .question {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    gap: 1em;
    margin-bottom: 0.5em;
}

.accordion-item h2 {
    font-weight: 700;
    font-style: normal;
    color: var(--main-bg);
    font-size: 1.1rem;
    line-height: 1.3;
    transition: color 0.3s ease-in-out;
}

.accordion-item p {
    display: none;
    color: var(--text-color);
    font-size: 1em;
    line-height: 1.3;
    transition: color 0.3s ease-in-out;
}

.accordion-item.active h2 {
    color: #AD28EB;
}

.accordion-item.active p {
    display: block;
    color: var(--text-color);
}

.accordion-item img {
    transition: transform 0.3s ease-in-out;
}

@media (width>=60em) {
    body {
        display: flex;
        justify-content: center;
        min-height: 100vh;
        align-items: center;
        background-image: url(./assets/images/background-pattern-desktop.svg);
    }
    .container {
        padding: 2em;
        border-radius: 2em;
        max-width: 1440px;
        width: 40%;
        /* min-height: 100vh; */
        background-color: #fff;
    }
}